

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
label{
	float: left;
	display: inline;
	margin-right: 10px;
}
#senSelDiv, #chemSelDiv{
	background: #ccc;
	min-height: 20px;
	margin-bottom: 5px;
	padding: 10px;
}
p{
	margin: 0px;
}
#checkall, #checkallChems{
	float: left;
}