

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
label{
	/*float: left;*/
	/*display: inline;*/
	margin-right: 10px;
}
#senSelDiv, #chemSelDiv{
	background: rgba(150, 150, 150, .5);
	min-height: 20px;
	padding: 10px;
	width: 140px;
	min-height: 190px;

}
#senSelDiv{
	float: left;
}
#chemSelDiv{
	float: right;
}
p{
	margin: 0px;
}
#checkall, #checkallChems{
	float: left;
}
.inputArea{
	width: 330px;
	margin-left: 90px;
	position: relative;
}

.d3-tip{
	width: 350px;
	margin-left: 25px;
}